{% load mptt_tags %}

{% load mptt_tags %}

{# Menu items list for right-aligned navigation #}
<ul class="navbar-nav mb-2 mb-lg-0">
    {% recursetree menu_items %}
        <li class="nav-item {% if not node.is_leaf_node %}{% if node.parent %}dropend submenu{% else %}dropdown{% endif %}{% endif %}">
            
            <a class="{% if node.parent %}dropdown-item{% else %}nav-link{% endif %} {% if not node.is_leaf_node %}dropdown-toggle{% endif %} {% if node.parent and not node.is_leaf_node %}submenu-toggle{% endif %} {% if request.path == node.get_url or node.get_url != '/' and node.get_url in request.path %}active{% endif %}" 
               href="{{ node.get_url }}"
               {% if not node.parent and not node.is_leaf_node %}data-bs-toggle="dropdown"{% endif %}
               {% if node.new_tab %}target="_blank" rel="noopener noreferrer"{% endif %}
               aria-expanded="false">
                {{ node.name }}
            </a>

            {% if not node.is_leaf_node %}
                <ul class="dropdown-menu dropdown-menu-end shadow">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>